body {
  /* background-color: antiquewhite; */
  background-image: url(/hong.img);
  text-align: center;
}
h1 {
  color: #a9141e;
  font-family: "Pacifico", cursive;
  text-align: center;
  padding-top: 0cm;
}

table {
  margin: auto;
  font-size: xx-large;
  border-spacing: 100px;
}
#tieptuc {
  color: #a9141e;
  font-family: "Pacifico", cursive;
  text-align: center;
  border: 2px solid black;
  border-radius: 50%;
}
